<%= simple_form_for question, html: { class: 'form-vertical'} do |f| %>
  <%= f.input :title, label: false, placeholder: 'What are you asking?' %>
  <%= f.input :body, label: false, placeholder: 'and your question...', input_html: { class: 'span10' } %>
  <div class='form-actions'>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>