<% title "Edit Question" %>

<%= render :partial => 'posts/editor', :locals => { :source => @question, :returnobj => @question } %>

<p>
  <%= link_to "Show", @question %> |
  <%= link_to "View All", questions_path %>
</p>
