<% title "Questions" %>

<section id="questions">
  <div class="row">
    <div class="span3 columns">
      <h3>Recent Tags</h3>
      <ul id="recent-tags">
        <% @recent_tags.each do |tag| %>
          <li><%= link_to tag.name, tagged_questions_url(tag.name), :class => "btn tag" %> x<%= tag.count %></li>
        <% end %>
      </ul>
    </div>
    <div class="span13 columns">
      <%= render :partial => "question", :collection => @questions, :locals => { :width => 10 } %>
      <%= paginate @questions %>
    </div>
  </div>
</section>
