<div id="body">
  <div class="question-list">
    <%= render partial: 'question-summary', collection: @questions, as: 'question' %>
  </div>
  <%= paginate @questions %>
</div>

<div id="sidebar">
  <h5>Recent badges</h5>
  <% @recent_badges.each do |badge| %>
    <%= badge.name %> - <%= badge.user.display_name%>
  <% end %>
</div>
