<% title "New Question" %>

<%= header :h1, "Ask a Question" %>

<div class="row">
  <div class="span4">
    <h3>Write a good question</h3>
    <p>Good questions are answerable</p>
  </div>
  <div class="span12">
    <%= render :partial => 'posts/editor', :locals => { :source => @question } %>
  </div>
</div>

