<% title "Questions tagged #{params[:tag]}" %>

<section id="questions-tagged">
  <div class="row">
    <div class="span2">
      <h3><%= pluralize @question_count, "question" %> tagged</h3>
      <h2 class="btn tag"><%= @tag.name %></h2>
      <!-- would be a good idea to stick something in here at some point -->
    </div>
    <div class="span10">
      <%= render :partial => "question", :collection => @questions, :locals => { :width => 9 } %>
      <%= paginate @questions %>
    </div>
  </div>
</section>
