<div class="page-header">
  <h1>Login</h1>
</div>

<p>Login with the provider you signed up with.</p>

<ul id="provider-list">
    <li>
      <a id="google-login" href="/auth/google">
        <p>Signup with <span>Google</span></p>
        <%= image_tag "https://github.com/intridea/authbuttons/raw/master/png/google_128.png" %>
      </a>
    </li>
    <li>
      <a id="twitter-login" href="/auth/twitter">
        <p>Signup with <span>Twitter</span></p>
        <%= image_tag "https://github.com/intridea/authbuttons/raw/master/png/twitter_128.png" %>
      </a>
    </li>
</ul>