<div class="page-header admin-header">
  <h1>Admin Dashboard</h1>
  <p class="sidekiq-right"><%= link_to 'Sidekiq Dashboard', '/admin/sidekiq' %></small></h1>
</div>

<% if @issues %>
  <div class="alert alert-danger">Some problems have been found with your installation. Check the <%= link_to 'health page', admin_health_url %> for more information.</div>
<% end %>