<div class="page-header"><h1>Admin Dashboard <small><%= link_to 'Sidekiq Monitoring', '/admin/sidekiq' %></small></h1></div>

<% @problems.each do |alert| %>
  <div class="alert alert-danger"><%= alert %></div>
<% end %>
