<ul id="user-list">
  <% @users.each do |user| %>
    <li>
      <img src="<%= user.gravatar(48) %>">
      <div class="user-info">
        <span class="user-link"><%= link_to user.name, user %></span>
        <span class="reputation"><%= user.reputation %></span>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate @users %>