<p>Create an account with the provider of your choice</p>

<p><a href="/auth/google" id="google-login">Login with Google</a></p>
<p><a href="/auth/twitter" id="twitter-login">Login with Twitter</a></p>