<% title "Sign up" %>

<%= header :h1, "Sign Up" %>

<div class="row">
  <div class="span3">
    <p>Already have an account? <%= link_to "Log in", login_path %>.</p>
  </div>
  <div class="span7">
    <%= render 'form' %>
  </div>
</div>
