<% if current_user == question.user %>
  <div class="accept-answer">
    <%= form_tag accept_answer_url(id: question.id), remote: true do %>
      <% if question.accepted_answer_id == answer.id %>
        <%= hidden_field_tag :answer_id, nil %>
        <button type="submit">
          <i class="icon-ok active"></i>
        </button>
      <% else %>
        <%= hidden_field_tag :answer_id, answer.id %>
        <button type="submit">
          <i class="icon-ok inactive"></i>
        </button>
      <% end %>
    <% end %>
  </div>
<% end %>