<% if current_user == question.user %>
  <% if answer.accepted? %>
    <div class="unaccept-answer">
      <%= form_tag unaccept_answer_url(id: question.id), remote: true, class: 'accept-form' do %>
        <button type="submit">
          <i class="icon-ok active"></i>
        </button>
      <% end %>
    </div>
  <% else %>
    <div class="accept-answer">
      <%= form_tag accept_answer_url(id: question.id), remote: true, class: 'accept-form' do %>
        <%= hidden_field_tag :answer_id, answer.id %>
        <button type="submit">
          <i class="icon-ok inactive"></i>
        </button>
      <% end %>
    </div>
  <% end %>
<% elsif answer.accepted? %>
  <div class="accept-answer">
    <i class="icon-ok active accepted-standalone"></i>
  </div>
<% end %>