<div class="answer" id="answer-<%= answer.id %>">
  <div class="vote-controls"><%= vote_controls(answer) %></div>
  <div class="main">
    <div class="body"><%=format answer.body%></div>
  </div>
</div>