<% title "Flags" %>

<%= header :h1, "Flags", %[#{pluralize(@flag_count, "flag")} currently active] %>

<section id="flags">
  <% @flags.each do |flag| %>
    <%= render :partial => flag.flaggable_type.downcase, :locals => { :flag => flag } %>
  <% end %>
</section>

