<div class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">x</a>
    <h3>Whoops</h3>
  </div>
  <div class="modal-body clearfix">
    <p>You've already flagged this question once</p>
  </div>  
  <div class="modal-footer">
  </div>
</div>

