<div class="row">
  <div class="span-12">
    <div class="event-info">
      <span class="revision-id"><%= event.revision %></span>
      <%= render 'users/infobox', string: 'edited', time: event.created_at, user: event.users.first %>
    </div>

    <%= render 'posts/timeline/post_diff', event: event %>
  </div>
</div>
