<div class="row">
  <div class="span-12">
    <p><%= link_to event.users.first.display_name, event.users.first %> created this <%= time_ago_in_words event.created_at%> ago</p>

    <%= render 'posts/timeline/post_diff', event: event %>
  </div>
</div>
