<div class="row">
  <div class="span-12">
    <p><%= link_to event.users.first.display_name, event.users.first %> created this <%= time_ago_in_words event.created_at%> ago</p>

    <% if event.post.class == Question %>
      <%= event.post_history.title %>
      // render question
    <% elsif event.post.class == Answer %>
      // render answer
    <% end %>
  </div>
</div>