<div class="page-header">
  <h1>Tags</h1>
</div>

<ul class="tag-list">
  <% @tags.each do |tag| %>
    <li><%= link_to tag.name, questions_tagged_url(tag.name), class: 'btn btn-default tag' %> <span>x <%= tag.count %></span></li>
  <% end %>
</ul>

<%= paginate @tags %>