.management-pages {
  h3 { margin-top: 0; }

  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.admin-warning-bar {
  background-color: red;
  border-bottom: 3px solid lighten(red, 40%);
  height: 10px;
  margin-top: -19px;
  width: 100%;
}
