// generally only stuff related to display answers
// not much

.answers {
  .answer {
    padding-bottom: 15px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 15px;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.edit_answer {
  #answer_body {
    height: 400px;
  }
}
