// This file includes Bootstrap fixes and other 'global' customisation

// Hidden form fields should have no height or etc
html .control-group.hidden { margin-bottom: 0; }

// remove the padding and reduce the border on page-header
.page-header {
  padding-bottom: 0;
  margin-bottom: 20px;
}
.container > .page-header { margin-top: 0; } // no margin on initial header

// input that should use font-awesome
.fa-input {
  background-color: transparent;
  font-family: FontAwesome;
}

// Don't allow really long lines of `asdb` text
code { white-space: pre-wrap; }
// stop images flowing outside of text
img { max-width: 100%; }

// Wrapper for body/sidebar pages
#pagewrap { @include make-row(); }
#body {
  @include make-sm-column(8);
  @include make-md-column(9);
}
#sidebar {
  // TODO: make the sidebar work nicely on small mobile devices
  @extend .hidden-xs;
  @include make-sm-column(4);
  @include make-md-column(3);
}

.pagination {
  > ul {
    margin-top: 10px;
  }
}