// This file includes Bootstrap fixes and other 'global' customisation

// Fix for static navbar not having width
.navbar-inner > .container {
  width:940px;
}

// remove gradient & rounded corners from navbar
.navbar > .navbar-inner {
  @include border-radius(none);
  background: white;
}

// Hidden form fields should have no height or etc
html .control-group.hidden { margin-bottom: 0; }

// remove the padding and reduce the border on page-header.. really?
.page-header {
  padding-bottom: 0;
  margin-bottom: 20px;
}

// input that should use font-awesome
.fa-input {
  background-color: transparent;
  font-family: FontAwesome;
}

// logout button in dropdown menu
.dropdown-menu {
  form {
    margin: 0;
  }

  // can't extend nested elements :(
  input[type="submit"] {
    background: transparent;
    border: none;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    text-align: left;
    width: 160px;
    white-space: nowrap;

    &:hover {
      text-decoration: none;
      color: white;
      @include gradient-vertical(#0088cc, #0077b3);
    }
  }
}


#body { float: left; width: 700px; }

#sidebar { float: left; width: 220px; margin-left: 20px; }

.pagination {
  > ul {
    margin-top: 10px;
  }
}