// This file contains navbar custom styles

// logout button in dropdown menu
.dropdown-menu {
  form {
    margin: 0;
  }

  // can't extend nested elements :(
  input[type="submit"] {
    background: transparent;
    border: none;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    text-align: left;
    width: 160px;
    white-space: nowrap;

    &:hover {
      text-decoration: none;
      color: #262626;
      background-color: #f5f5f5;
    }
  }
}

.navbar-reputation {
  @extend .navbar-text;
  font-weight: 700;
  margin-top: 15px; // slightly less top margin to counter additional font weight
}