%tag-list {
  margin-left: 0;
  list-style-type: none;

  li {
    float: left;
    margin-right: 6px;
  }
}

// questions#index
.question-list {
  @include makeColumn(12);
}

.question-summary {
  @include makeColumn(11); // leave wide for now
  margin-left: 10px;
  padding-top: 5px;

  h3 {
    font-weight: normal;
    margin-bottom: 8px;
  }

  .tags {
    float: left;
    @extend %tag-list;
  }

  .last-activity {
    float: right;
    font-size: 11px;
  }
}

// new question form
#new_question {
  #question_title {
    font-size: 30px;
    height: 40px;
    line-height: normal;
    width: 620px;
  }

  #question_body {
    height: 250px;
  }
}

// question display on questions#show
.question {
  @include makeRow();

  .main {
    @include makeColumn(8);
  }

  .body {
    margin-bottom: 15px;
  }

  .tags {
    float: none;
    @extend .clearfix;
    @extend %tag-list;
  }

  .meta {
    padding-top: 10px;
  }

  .links {
    float: left;
  }

  .righto {
    float: right;
  }
}