%tag-list {
  margin: 0;
  list-style-type: none;

  li {
    float: left;
    margin-right: 6px;
  }
}

// questions#index
.question-list {
  @include makeColumn(12);

  > div {
    border-bottom: 1px solid #eee;
    margin-top: 1px;
    padding-bottom: 10px;
  }
}

.mini-counts {
  @include makeColumn(2.25);
  margin-top: 14px;

  > div {
    float: left;
    text-align: center;
    width: 53px;
    .num { font-size: 16px; }
    &.unanswered { color: darken($red, 3%); }
  }
}

.question-summary {
  @include makeColumn(8.75); // leave wide for now
  margin-left: 10px;

  h3 {
    font-size: 18px;
    font-weight: normal;
    line-height: 32px;
    margin: 0 0 5px 0;
  }

  .tags {
    float: left;
    @extend %tag-list;
  }

  > p {
    margin-bottom: 0;
  }

  .last-activity {
    float: right;
    font-size: 12px;

    span, a {
      margin-left: 1px;
    }

    .rep {
      font-weight: 500;
    }
  }
}

// new question form
#new_question {
  #question_title {
    font-size: 30px;
    height: 40px;
    line-height: normal;
    width: 620px;
  }

  #question_body {
    height: 250px;
  }
}

// question display on questions#show
.question {
  .tags {
    float: none;
    @extend .clearfix;
    @extend %tag-list;
  }

  .meta {
    padding-top: 10px;
  }
}

#sidebar {
  h5 {
    font-weight: normal;
    margin: 0 0 6px 25px;
  }
  .sidebar-tags {
    list-style-type: none;

    li { margin-bottom: 6px; }
    span {
      color: #b1b1b1;
      font-size: 12px;
    }
  }

  .summary {
    list-style-type: none;

    li span {
      font-weight: 600;
    }
  }
}