// Provider list
// A list of OpenID providers
// used on login pages
#provider-list {
  list-style-type: none;

  li {
    // Get button styling in here
    @extend .btn;
    @extend .btn-default;
    @include gradient-vertical(#fff, #ebebec);
    // But tone down the border slightly
    @include border-radius(3px);
    width: 175px;
    margin-right: 30px;

    a {
      @include make-row();
      display: block;
      height: 70px;
    }

    img,
    p {
      @include make-md-column(6);
      display: inline;
    }

    p {
      margin-top: 11px;

      span {
        float: left;
        font-size: $font-size-base + 2;
      }
    }

    img {
      width: 60px;
      height: 60px;
      padding-right: 0;
      padding-left: 0;
    }
  }
}

// user#show pages
.user-misc {
  @include make-row();
  margin-bottom: 15px;

  .identity {
    @include make-md-column(2);

    img {
      width: 128px;
      height: 128px;
    }

    p {
      margin-top: 6px;
      text-align: center;
    }

    .reputation {
      display: block;
      font-size: $font-size-base + 5;
      font-weight: bold;
      line-height: $font-size-base + 4;
    }
  }

  .user-info {
    @include make-md-column(4);
    font-size: $font-size-base - 1;

    td { padding-bottom: 6px; }
  }

  .about-me {
    @include make-md-column(6);
    min-height: 160px;
    padding: 7px 10px;
    background: #efefef;
  }
}

.user-tabs { margin-bottom: 25px; }

@mixin vote-box($col-size) {
  .vote-count {
    @include clearfix();
    @include make-xs-column($col-size);
    background-color: rgba(125, 125, 125, 0.1);
    font-size: 12px;
    height: $font-size-base + 13;
    padding: 4px; // this removes some of the padding given by md-column, needed for centered counts
    text-align: center;
  }
}

.user-box {
  @include make-md-column(6);

  .header {
    margin-bottom: 7px;
    border-bottom: 1px solid #ccc;
  }

  ul {
    @include make-row();
    padding-left: 0;
    list-style-type: none;
  }

  li {
    @include make-xs-column(12);
    @include clearfix();
    @include vote-box(0.75);
    height: 25px;
    margin-bottom: 7px;
    clear: both;

    > a {
      @include make-xs-column(11.25);
      margin-top: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  h3 {
    margin-top: 0;

    a:hover,
    a:focus { text-decoration: none; }

    a span {
      font-weight: normal;
      color: $gray;
    }
  }
}

// /users/#{id}/answers
.answer-list {
  @include vote-box(0.33);
  list-style-type: none;

  li {
    @include clearfix();
    @include make-row();
    height: 32px;
    margin-bottom: 4px;
    border-bottom: 1px solid $gray-lighter;
    &:last-child { border-bottom: 0; }

    a {
      @include make-xs-column(9.66);
      margin-top: 4px;
    }

    .date {
      @include make-xs-column(2);
      margin-top: 5px;
      font-size: 12px;
      color: $gray-light;
      text-align: right;
    }
  }
}

// /users
$user-list-gravatar-size: 48px;

#user-list {
  @include make-row();
  list-style-type: none;

  li {
    @include make-xs-column(3);
    float: left;
    margin-bottom: 20px;
  }

  img {
    float: left;
    width: $user-list-gravatar-size;
    height: $user-list-gravatar-size;
    margin-right: 5px;
  }

  .user-info {
    margin-top: 2px;
    margin-left: $user-list-gravatar-size + 8px;

    span { display: block; }
  }

  .user-link {
    overflow: hidden;
    white-space: nowrap;
  }

  .reputation {
    margin-top: 2px;
    font-weight: bold;
  }
}
