.vote-controls {
  @include makeColumn(1);
  margin-bottom: 15px;

  .vote-form {
    margin: 0 0 5px 20px;
    width: 30px;
  }

  .vote-count {
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 0 20px;
    text-align: center;
    width: 30px;
  }

  // more specific to avoid popover css conflict
  form .arrow {
    background: none;
    border: none;
    font-size: 20px;
    height: 20px;
    width: 30px;
  }

  .vote-active {
    color: green;
  }
}