<div class="modal fade" id="login-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <% if SiteSettings.authentication.google %>
          <a class="btn btn-success" href="/auth/google" id="google-login-button">login with Google</a>
        <% end %>
        <% if SiteSettings.authentication.twitter %>
          <a class="btn btn-info" href="/auth/twitter" id="twitter-login-button">login with Twitter</a>
        <% end %>
      </div>
    </div>
  </div>
</div>
